.page-wrapper {
    background-color: white;
    z-index: 6;
}

header {
    background-color: #d55fab;
    background-image: none;
    display: flex;
    height: 45px;
}

header img {
    background-image: none;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    margin-left: 10px;
    margin-top: 3px;
}

.title {
    color: white;
    text-align: center;
}

svg {
    gap: 20px;
}

.px-3 {
    align-items: right;
    display: flex;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.carousel-caption h1 {
    color: white;
    margin-top: -30%;
}

.third-slide {
    display: flex;
}

.product-list {
    display: flex;
    justify-content: space-between; /* Espacios uniformes entre columnas */
    gap: 20px; /* Espaciado entre elementos */
    margin: 20px; 
}

.elements {
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    justify-content: center;
    text-align: center;
}

section img {
    width: 30%;
    height: 30%;
    border-radius: 5px;
}

section h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
}

section h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .px-3  {
        margin-top: 12px;
    }
    
    .carousel-caption h1 {
        color: white;
        margin-top: 30%;
        z-index: 2;
    }

    section {
        margin-top: 20px;
        bottom: 20px;
    }

    .product-list {
        flex-direction: column; /* Cambiar a una sola columna en pantallas pequeñas */
        align-items: center;
    }

    .elements {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: left;
        text-align: center
    }

    section img {
        width: 30%;
        height: 30%;
        border-radius: 5px;
    }

    section h2 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        font-weight: bold;
    }

    section h3 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
    }

}